span.or {
  margin-left: 1em;
}
img.logo {
  float: right;
}
.fail {
  color: red;
}

.nav li a.disabled {
  cursor: not-allowed !important;
}

.nav li a.full-disabled {
  background-color: #E0E0E0 !important;
  color: #333 !important;
  cursor: not-allowed !important;
  border-color: #E0E0E0 !important;
}

.divider {
  width: 40px;
  height: auto;
  display: inline-block;
}

.row-btn {
  display: inline-block;
}
